h2-margin {
    margin-bottom: 5px;
}

.home-link-container:hover {
    position: absolute;
}

.home-book-image {
    position: absolute;
}

.home-book-image img {
    position: absolute;
    width: 110px;
    z-index: 1;
    top: -8.9rem;
  
}