

.loading-spinner-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  height: 100%;
}


@media screen and (min-width: 768px) {
  .loading-spinner-container {
    grid-column: 2/3;
    justify-self: center;
   }
}

