.book-card-container {
  display: grid;
  align-items: stretch;
  container-type: inline-size;
}

.book-card {
  display: grid;
  align-items: stretch;
  background-color: white;
  padding: .25rem;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  transition: all ease 0.3s;
}

.book-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.book-card-container img {
  width: 100%;
  object-fit: cover;
}

.book-card-items-container {
  display: grid;
  justify-self: center;
  justify-content: center;
  width: 80%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr .4fr;
}

.book-card-items-container h3:nth-child(1) {
  display: block;
  margin-bottom: 5px;
  width: 100%;
  align-self: center;
  grid-column: 1 / -1;
}

.book-card-items {
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: .5rem 0rem .5rem 0rem;
}


